<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://java.sun.com/jsf/core">
<head>
	<meta charset="UTF-8">
	<title>БРВ</title>
	<link rel="shortcut icon" href="images/radioactive.png" type="image x-icon">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/var36_css.css">
    <script>x   x


    </script>
</head>
<body>
<div class="container" >
    <div class = "jumbotron " id="mainJumbo">
        <div class="row" >

            <div  class = "menuList">

                <script src="js/menu.js" type="text/javascript"></script>

            </div>
        </div>

        <div class="boxTab">
            <div class="row tabl">
                <div class="titlStorage">
                    <H3>Список  </H3>
                </div>

          
          <table>
               <tr>
                  <th>#</th>
                  <th>Номер сховища</th>
                  <th>Група</th>
                  <th>Список нуклідів</th>                                   
                  <th>Дата початку зберігання</th>  
                  <!--<th>Організація</th>  -->
                  <th>Примітки</th>  
                  <th> 
                    <a class=" material-icons button edit"  th:href="${'/brvNEW'}">add</a>
                </tr>
                  <tr th:each="brv:  ${AllBrvs}">
                      <td th:text="${brv.BRV_id}"></td>
                  <td th:text="${brv.storage_id}"></td>
                  <td th:text="${brv.group_by_power}"></td>
                  <td th:text="${brv.nuclide_list}"></td>
                  <td th:text="${brv.Storage_start_date}"></td>
                  <td th:text="${brv.Notes_BRV}"></td>

                  <td>
                    <a class="material-icons button edit" th:href="${'/brv/edit/' + brv.BRV_id}">create</a>
                    <a class="material-icons button delete" th:href="${'/brv/delete/' + brv.BRV_id}">delete</a>
                  </td>

                  </tr>
               </tr>
            </table>
            </div>
          </div>
          <div class="row row1">

   
       <div class=" registration form1 ">
        <div class="signHead">
            <a class="goToRegistration" >Сортування</a>
          </div>
            <form method="post" action="">
                <a th:href="${'/sortDateBrvs' }">Сортувати за датою</a>
                <a th:href="${'/sortGroupByPower' }">Сортувати за категорією</a>

            </form>
          </div>
     
        <div class=" registration form2 ">
        <div class="signHead ">
            <table>
                <tr>
                    <th>Загальна активність</th>
                    <th>Загальна кількість</th>
                <tr>
                    <td th:text="${All_Activity_BRVS}"></td>
                    <td th:text="${All_Amount_BRVS}"></td>
                </tr>
            </table>
          </div>
          </div>
          </div>
       </div>
   	</div>
</body>
</html>