<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Склад</title>
	<link rel="shortcut icon" href="images/radioactive.png" type="image x-icon">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/var36_css.css">
</head>
<body>

<div class="container" >
	<div class = "jumbotron " id="mainJumbo">
		<div class="row" >

			<div  class = "menuList">

				<script src="js/menu.js" type="text/javascript"></script>

			</div>
		</div>
		<div class="row information">
			<h3 class = "infHeader">Загальна інформація</h3>
			<div class = "infText">
				<p><b>Радіоактиивні відходи</b> -  матеріальні об'єкти та субстанції, радіоактивне забруднення чи активність радіонуклідів яких перевищує межі, встановлені діючими нормами радіаційної безпеки, за умови, що використання цих об'єктів та субстанцій не передбачається.<p>
				<p></p>

				<p>Радіоактивні відходи зберігаються в спеціалізованих сховищах та поділяються на :</p>

				<p>&#9830; <b>ТРВ</b>  (тверді радіоактивні відходи)  </p>
				<p>&#9830; <b>РРВ</b>  (рідкі радіоактивні відходи)  </p>
				<p>&#9830; <b>БРВ</b>  (біологічні радіоактивні відходи) </p>
				<p>&#9830; <b>ДІВ</b>   (відпрацьовані джерела іонізуючого випромінювання)   </p>
				​<p>На території України поводження з радіоактивними відходами регламентується Законом України «Про поводження з радіоактивними відходами».  </p>

			</div>
		</div>
</body>
</html>