<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Склад</title>
	<link rel="shortcut icon" href="images/radioactive.png" type="image x-icon">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/var36_css.css">

</head>
<body>


<div class="container" >
    <div class = "jumbotron " id="mainJumbo">
        <div class="row" >

            <div  class = "menuList">

                <script src="js/menu.js" type="text/javascript"></script>

            </div>
        </div>

        <div class="boxTab">



            <div class="row tabl">

                <div class="titlStorage">
                    <H3>Список Складів</H3>
                </div>

          <table>
               <tr>
                  <th>#</th>
                  <th>Назва</th>
                  <th>Тип відходів</th>
                  <th>Місткість</th>          
                  <th> 
                    <a href="#"  class="material-icons button edit"  th:href="@{/storageNEW}">add</a>
                  </th>

                </tr>
              <tr th:each="storage:  ${AllStorages}">
                  <td th:text="${storage.storage_id}"></td>
                  <td th:text="${storage.name}"></td>
                  <td th:text="${storage.type_waste}"></td>
                  <td th:text="${storage.capacity}"></td>
              <td>
                  <a class="material-icons button edit" th:href="${'/storage/edit/' + storage.storage_id}">create</a>
                  <a class="material-icons button delete" th:href="${'/storage/delete/' + storage.storage_id}">delete</a>
              </td>

               </tr>
            </table>

          </div>
       </div>

        <div class="row row1">


            <div class=" registration form1 ">
                <div class="signHead">
                    <a class="goToRegistration" >Сортування</a>
                </div>
                <form method="post" action="">

                    <a th:href="${'/OrderByCapacity'}">Сортувати за вмісткістю</a>

                </form>
            </div>
        </div>
   	</div>
</div>
</body>
</html>